%li.selected.fg-color-white{:id => dom_id(resource), :style => "z-index: 0;float:left;", :"data-active" => resource.active? ? 1 : 0}
  = link_to [:edit, :family, teen, resource] do
    .icon
      %i.icon-arrow-right{:style => "font-size: 20px; margin:3px 2px;"}
    .data
      %h4= resource.name
      %p
        &nbsp;
  .active_switch
    = form_for [:family, @teen, resource], :method => :put, :remote => true do |f|
      - if resource.active?
        = f.hidden_field :active, :value => 0
      - else
        = f.hidden_field :active, :value => 1
  .hint{:style => "display:none;"}
    %ul.replies
      %li.bg-color-orange
        %b.sticker.sticker-left.sticker-color-orange
        .reply
          .text
            %i.icon-info-2
            = resource.hint_text
  - unless resource.default?
    .actions
      = link_to [:family, @teen, resource], :method => :delete, :confirm => "Are you sure?", :remote => true do
        = image_tag "1361627998_empty_trash.png"
.clearfix
