%h2 Resend confirmation instructions
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  .input-control.text.span4
    = f.email_field :email, :class => 'with-helper', :placeholder => "Email", :validate => {:email => true}
    %button.helper{:type => 'button'}
  %div= f.submit "Resend confirmation instructions"
= render "devise/shared/links"
