%h2 Welcome #{current_user.welcome}
%br
.nice-link-wrap
  .fl_l
    = link_to controll_panel_path, :class => 'nice-link right' do
      %span.nice-link__ico
        %i.icon-newspaper.place-left{:style => 'font-size: 50px'}
      %span.nice-link__text
        %span
          Control Panel
  .fl_l
    %a#video.nice-link.left{:href => "#"}
      %span.nice-link__text
        %span
          Video
      %span.nice-link__ico
        %i.icon-play{:style => 'font-size: 50px'}
-if current_user.teens.present?
  %h2 Teens
  %br
  - current_user.teens.each_slice(2) do |teens2|
    .nice-link-wrap
      - teens2.each do |teen|
        .fl_l.teen
          = link_to settings_family_teen_path(teen), :class => 'nice-link right' do
            %span.nice-link__ico{:style => "padding: 0 !important;"}
              - if teen.avatar.present?
                = image_tag teen.avatar.url(:welcome), :style => "max-width:160px;position: absolute;top: 0;left:0;"
              - else
                %i.icon-camera{:style => 'font-size: 50px'}
            %span.nice-link__text
              %span
                #{teen.name}

:javascript
  $(document).ready(function(){
      $('#video').click(function(e) {
          $.Dialog({
              'title'      : 'Add Teen',
              'content'    : "#{j render(:partial => 'shared/admin_video',
                                         :locals => {:video => Video.where(:description => "Parents Video").first})}",
              'closeButton' : true,
              'position'   : {
                'offsetY'    : 50
              },
          });
      });
  });

