%h2 Welcome #{current_user.name}
%br
-#.nice-link-wrap
-#  .fl_l
-#    = link_to "", :class => 'nice-link right' do
-#      %span.nice-link__ico
-#        %i.icon-newspaper.place-left{:style => 'font-size: 50px'}
-#      %span.nice-link__text
-#        %span
-#          Daily Evaluation
-#  .fl_l
-#    %a.nice-link.left{:href => "#"}
-#      %span.nice-link__text
-#        %span
-#          Manage Password
-#      %span.nice-link__ico
-#        %i.icon-key-2{:style => 'font-size: 50px'}
-#.nice-link-wrap
-#  .fl_l
-#    = link_to "", :class => 'nice-link right' do
-#      %span.nice-link__ico
-#        %i.icon-sun.place-left{:style => 'font-size: 50px'}
-#      %span.nice-link__text
-#        %span
-#          View Outing Approval
-#  .fl_l
-#    %a.nice-link.left{:href => "#"}
-#      %span.nice-link__text
-#        %span
-#          Daily Privileges
-#      %span.nice-link__ico
-#        %i.icon-star-3{:style => 'font-size: 50px'}
-#.nice-link-wrap
-#  .fl_l
-#    = link_to "", :class => 'nice-link right' do
-#      %span.nice-link__ico
-#        %i.icon-lightning-4.place-left{:style => 'font-size: 50px'}
-#      %span.nice-link__text
-#        %span
-#          View Incident's
-#  .fl_l
-#    %a.nice-link.left{:href => "#"}
-#      %span.nice-link__text
-#        %span
-#          Weekly Privileges
-#      %span.nice-link__ico
-#        %i.icon-checkmark{:style => 'font-size: 50px'}

.nice-link-wrap
  .fl_l
    %a.nice-link.right{:href => teen_guidelines_path}
      %span.nice-link__ico
        %i.icon-newspaper.place-left{:style => 'font-size: 50px'}
      %span.nice-link__text
        %span
          Guidelines
  .fl_l
    %a.nice-link.left{:href => teen_incident_reports_path}
      %span.nice-link__text
        %span
          Incidents
      %span.nice-link__ico
        %i.icon-lightning-4{:style => 'font-size: 50px'}
.nice-link-wrap
  .fl_l
    %a.nice-link.right{:href => teen_daily_privileges_path}
      %span.nice-link__ico
        %i.icon-star-3.place-left{:style => 'font-size: 50px'}
      %span.nice-link__text
        %span
          Daily Privileges
  -#.fl_l
    -#%a.nice-link.left{:href => incident_reports_users_path}
      -#%span.nice-link__text
        -#%span
          -#Incidents
      -#%span.nice-link__ico
        -#%i.icon-lightning-4{:style => 'font-size: 50px'}

-#.nice-link-wrap
  .fl_l
    = link_to "", :class => 'nice-link right' do
      %span.nice-link__ico
        %i.icon-book.place-left{:style => 'font-size: 50px'}
      %span.nice-link__text
        %span
          Homework and Worksheet points
  .fl_l
    %a.nice-link.left{:href => "#"}
      %span.nice-link__text
        %span
          Weekly Point Tracker
      %span.nice-link__ico
        %i.icon-calculate{:style => 'font-size: 50px'}
