<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @guideline.title %>
</p>

<p>
  <b>Recommendation:</b>
  <%= @guideline.recommendation %>
</p>

<p>
  <b>Content:</b>
  <%= @guideline.content %>
</p>


<%= link_to 'Edit', edit_guideline_path(@guideline) %> |
<%= link_to 'Back', guidelines_path %>
