= content_for :carousel do
  = render :partial => 'shared/slider'
:javascript
  $('div.clearfix').attr("style","margin:0")
.nice-link-wrap
  .fl_l
    %a.nice-link.right{:href => "#"}
      %span.nice-link__ico
        = image_tag 'images/nice-link1.png', :alt => ""
      %span.nice-link__text
        %span
          Subtract points
          for Inappropriate
          Behavior
    %a.nice-link.left{:href => "#"}
      %span.nice-link__text
        %span
          Approve points
          for Appropriate
          Behavior
      %span.nice-link__ico
        = image_tag 'images/nice-link2.png', :alt => ""
  .fl_l
    %a.nice-link.top{:href => "#"}
      %span.nice-link__text
        %span MyPointSystem Users
      %span.nice-link__ico
        %span
          14.006
  .fl_l
    %a.nice-link.right{:href => "#"}
      %span.nice-link__ico
        = image_tag 'images/nice-link3.png', :alt => ""
      %span.nice-link__text
        %span
          Outline
          expectations
          and rewards
    %a.nice-link.left{:href => "#"}
      %span.nice-link__text
        %span
          Safe for parents
          and children
      %span.nice-link__ico
        = image_tag 'images/nice-link4.png', :alt => ""
.clearfix
  %article.article.fl_l
    %h2
      Best product
      %br
        for
        %strong.fg-color-green development
        %br
          and
          %strong.fg-color-green growth
    %p Search for interesting activities for the whole family, in the summer days, does not take much time. Just go out and slowly walk around the city, enjoying the warmth and silence predzakatnyh hours. As for the winter, our space is usually limited to the walls of the apartment, which did not want to leave, going out into the frosty air. And you have to look for entertainment without leaving the couch. Fortunately, there are plenty of opportunities to have fun, doing any activity not only fun, but also useful for the development of the younger generation.
  %article.blockquote.fl_r
    %blockquote
      Attempts to at  tract young
      parents elders to raise
      children are successful is not always. Particularly unpleasant this fact is when the family decided to go abroad, the fashionable ski resort during the Christmas holidays to get away from everyday life and permanent day.
    .blockquote__author
      %a.blockquote__ava{:href => "#"}
        = image_tag 'images/blockquote__ava.png', :alt => ""
      .blockquote__author__name
        %strong Mila Serang
        age 38, two child
