%h3 Notes
%blockquote
  %h4 Mild Incident :
  %p
    Incidents that is relatively minor or thoughtless and careless but needs correction.
    %br - Negative Points assigned (-6)
  %h4 Significant Incident :
  %p
    Incidents that is significant, concerning, harmful, or re-occurring.
    %br - Negative Points assigned (-18)
  %h4 Major Incident :
  %p
    Incidents that are Major and/or much more significant, damaging, concerning, deviant, pre-mediated, or deliberate.
    %br - Negative Points assigned (-80)
  %h4 Serious Incident :
  %p
    Incidents that are very Serious, or Dangerous and can be the basis of the Teen being removed from the Home (Boarding School or Treatment) if not corrected.
    %br - Negative Points assigned (-200)
%h3 Request
%blockquote
  %div
    %b Mild Incident
    \- Loss of 3 Points
  %br
  %div
    %b Significant Incident
    \- Loss of 9 Points
  %br
  %div
    %b Major Incident
    \- Loss of 40 Points
  %br
  %div
    %b Serious Incident
    \- Loss of 100 points
  %br
  %div
    Teen writes an appeal and waives their right to make a Self Correct.
    If Parents do not agree with the appeal the Incident Automatically becomes a Parent Correct.
%br
- if @incident_report.review == "Self Correct" || @incident_report.review.blank?
  = link_to "Self Correct", [:self_correct, :teen, @incident_report], :class => "button default"
- if @incident_report.review == "Appeal" || @incident_report.review.blank?
  = link_to "Appeal", [:appeal, :teen, @incident_report], :class => "button default"
