%h2 My Self Correction
= form_for [:teen, @incident_report], :method => :put do |f|
  %p
    I
    %b= current_user.name
    choose to appeal the Incident. Report I received on
    %b= @incident_report.created_at.strftime("%b %d, %Y %I:%M %p")
    at. I understand that in making this appeal, I waive my right to make a Self Correct. Severity issued over me is
    %b= @incident_report.severity

  %h3 Instructions:
  %blockquote
    %p
      Appeal Essay describing what I actually did, why I feel this incident report needed to be appealed, what extenuating circumstances that my parents may not been aware of, any other factors.
  %br
  - if @incident_report.review.blank?
    .input-control.text.span8
      = f.text_area :teen_appeal, :class => 'with-helper', :placeholder => 'My Appeal', :style => "height: 100px;"
      %button.helper{:type => 'button'}
    .actions
      = f.submit "Appeal"
  - else
    .input-control.text.span8.disabled
      = f.text_area :teen_appeal, :class => 'with-helper', :placeholder => 'My Appeal', :style => "height: 100px;", :disabled => true

