%h2 Incident Reports History
%br
%table.bordered
  %thead
    %tr
      %th №
      %th Behavior
      %th Date
      %th Severity
      %th Review
      %th Points Summary
      %th Action
  %tbody
    - @incident_reports.each_with_index do |incident_report, index|
      %tr
        %td= index+1
        %td= incident_report.type_of_inappropriate_behavior
        %td= incident_report.created_at.strftime("%b %d, %Y %I:%M %p")
        %td= incident_report.severity
        %td= incident_report.review
        %td= - incident_report.points_loss.to_i
        %td
          .toolbar
            %a.button.default{:href => teen_incident_report_path(incident_report) }
              %i.icon-arrow-right
