%h2 My Self Correction
= form_for [:teen, @incident_report], :method => :put do |f|
  %p
    I
    %b= current_user.name
    choose to responsibility for the Incident Report I received on
    %b= @incident_report.created_at.strftime("%b %d, %Y %I:%M %p")
    at and the consequences there of. Severity issued over me is
    %b= @incident_report.severity

  %h3 Instructions:
  %blockquote
    %p
      Essay describing what I did, what corrective action I can take including what I can do differently in the future, my willingness to accept the consequences, and what my commitment is to making a positive correction in the future.)
  %br
  - if @incident_report.review.blank?
    .input-control.text.span8
      = f.text_area :teen_correction, :class => 'with-helper', :placeholder => 'My Self Correct', :style => "height: 100px;"
      %button.helper{:type => 'button'}
    .actions
      = f.submit "Self Correct"
  - else
    .input-control.text.span8.disabled
      = f.text_area :teen_correction, :class => 'with-helper', :placeholder => 'My Self Correct', :style => "height: 100px;", :disabled => true

