%h2= current_user.name
%br
%h3 Date
%blockquote
  = @incident_report.created_at.strftime("%b %d, %Y %I:%M %p")
%h3 Severity
%blockquote
  = @incident_report.severity
%h3 Behavior
%blockquote
  = @incident_report.type_of_inappropriate_behavior
%h3 Points Loss
%blockquote
  = @incident_report.points_loss
= render 'appeal_form'
