%h2 Sign up
%h3 With
.clearfix{:style => "width: 380px;"}
  %a.fl_l{:href => "/families/auth/facebook"}
    %img{:alt => "", :src => "/assets/images/auth-fb.png"}/
  %h3.fl_l{:style => "padding: 0 10px;"} Or
  %a.fl_r{:href => "/families/auth/twitter"}
    %img{:alt => "", :src => "/assets/images/auth-twit.png"}/
%h3 Or use the usual form
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f|
  = devise_error_messages!
  .input-control.text.span4
    = f.text_field :father_name, :autofocus => true, :class => 'with-helper', :placeholder => 'Father name', :validate => {presence: true}
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.text.span4
    = f.text_field :mother_name, :class => 'with-helper', :placeholder => 'Mother name', :validate => {presence: true}
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.text.span4
    = f.email_field :email, :class => 'with-helper', :placeholder => "Email", :validate => {:email => true, :uniqueness => true}
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.password.span4
    = f.password_field :password, :class => 'with-helper', :placeholder => 'Password', :validate => {:confirmation => true}
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.password.span4
    = f.password_field :password_confirmation, :class => 'with-helper', :placeholder => 'Confirm password'
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.text.span4
    = f.phone_field :phone, :class => 'with-helper', :placeholder => 'Phone', :type => 'phone', :validate => {presence: true}
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.select.span4
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :validate => {presence: true}
  .input-control.text.span4
    = f.text_field :key, :class => 'with-helper', :placeholder => 'Key'
    %button.helper{:type => 'button', :tabindex => "-1"}
  %div= f.submit "Sign up"
= render "devise/shared/links"
%br
