.footer {
  color: #fff;
  font-size: 14px;
  background: #162028;
  .wrapper{
    padding: 40px 0 45px 20px;
  }
  p{
    margin: 0 0 5px 0;
  }
}

.nav_soc{
  @extend .nav_hor;
  font-size: 0;
  line-height:0;
  li{
    padding: 0 5px;
  }
}

.nav_soc__twit{
  @include spr(images, soc-twit);
  display: block;
}
.nav_soc__fb{
  @include spr(images, soc-fb);
  display: block;
}
.nav_soc__g{
  @include spr(images, soc-g);
  display: block;
}
.nav_soc__p{
  @include spr(images, soc-p);
  display: block;
}

.contacts{
  font-size: 14px;
  td{
    border: 0;
    &:first-child{
      font-weight: 700;
      text-align: right;
      padding-left: 0;
      padding-right: 0;
    }
  }
}