.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__top {
  color: #fff;
  font-size: 14px;
  @include h-line-height(48px);
  background: #162028;
  border-bottom: 1px solid #eee4e5;
  @include box-shadow(0px 4px 0px #dc3b3a);
  @include pie;
  .wrapper {
    padding: 0 0 0 37px;
  }
  a {
    color: #fff !important;
    font-size: 14px;
  }
}

.header__bottom {
  background: #fff;
}

.link-video {
  display: inline-block;
  padding: 0 0 0 45px;
  @include h-line-height(images-sprite-height(video));
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    @include spr(images, video);
  }
}

.nav_auth {
  padding: 0 20px 0 32px;
  background: #243441;
  @extend .nav_hor;
  li, a, i {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    position: relative;
  }
  li {
    padding: 0;
    font-size: 0;
    line-height: 0;
  }
  a {
    position: relative;
    padding: 0 12px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  span {
    font-size: 14px;
    font-weight: 300;
    margin: 0 -6px 0 11px;
  }
}

.nav_auth__login {
  &:before {
    content: '';
    position: absolute;
    left: -12px;
    top: -3px;
    display: block;
    @include spr(images, key);
  }
  a {
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 11px;
      display: block;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 4px solid #fff;
    }
  }
}

.nav_auth__login_blue {
  @extend .nav_auth__login;
  a {
    color: #13b7e1 !important;
    &:before {
      display: none;
    }
  }
}

.iphone-dload {
  position: relative;
  font-weight: 700;
  padding: 0 0 0 25px;
  margin: 0 0 0 10px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    display: block;
    @include spr(images, iphone);
  }
}

.logo {
  @include spr(images, logo);
  display: block;
  margin: 35px auto 25px;
}

.nav_main {
  @extend .nav_hor;
  padding: 0 0 43px 0;
  text-align: center;
  li {
    padding: 0;
  }
  a {
    color: #333;
    padding: 0 32px;
  }
}

.auth-form {
  display: none;
  position: fixed;
  width: 100%;
  background: #243441;
  z-index: 100;
  left: 0;
  top: 52px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  h2 {
    color: #fff;
    font-size: 18px;
  }
  input[type=text],
  input[type=password] {
    width: 220px;
    @include h-line-height(33px);
    @include box-sizing(border-box);
    color: #cdc7c7;
    font-size: 18px;
    display: inline-block;
    font-weight: 300;
    margin: 20px 0 0 0;
    padding: 0 13px;
  }
  input[type=submit] {
    width: 125px;
    @include h-line-height(41px);
    background: #eb4543;
    padding: 0;
    margin: 34px auto;

    font-weight: 700;
    font-size: 18px;

  }
}

.auth-form__in {
  width: 336px;
  margin: 0 auto !important;
}

.auth-form__div {
  display: block;
  margin: 20px 0 0;
  border-top: 1px solid #495762;
  span {
    background: #243441;
    display: inline-block;
    position: relative;
    top: -12px;
    padding: 0 9px;
  }
}

.auth-form__forgot {
  margin: 24px 0 0 20px;
  position: absolute;
  color: rgba(45, 173, 237, 0.8);
  font-size: 14px;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}