* {
  outline: none;
}

@import "blankwork";
@import "compass/layout/grid-background";
@import "compass/css3/box-sizing";
@import "compass/utilities/sprites/base";

$pie-behavior: url(PIE.htc);
@mixin spr-m($map, $ico) {
  background: sprite($map, $ico) no-repeat;
  @include sprite-dimensions($map, $ico);
}

@mixin spr($map, $ico) {
  @include images-sprite($ico);
  height: images-sprite-height($ico);
  width: images-sprite-width($ico);
}

@mixin grad($grad) {
  @include background-image($grad);
  -pie-background: $grad;
  background-image: -ms-#{$grad};
}

@mixin h-line-height($h) {
  height: $h;
  line-height: $h;
}

$link-color: #a14c00;
$font-name: 'MyriadProRegular';
a {
  color: $link-color;
  &:hover {
    text-decoration: none;
  }
}

.db {
  display: block;
}

.fl_l {
  float: left;
}

.fl_r {
  float: right;
}

.tac {
  text-align: center;
}

.center {
  overflow: hidden;
}

.pr {
  position: relative;
}
