%h2 Daily Privileges
%br
%h3 Available Points: #{@available_points}
%ul.listview.iconic{:style => "width:300px;"}
  - @daily_privileges.each do |daily_privilege|
    %li.selected.fg-color-white{:id => "daily_privilege_#{daily_privilege.id}",:style => "z-index: 0;float:left;", :"data-active" => daily_privilege.active? ? 1 : 0}
      = link_to "#nil" do
        .icon
          %i.icon-arrow-right{:style => "font-size: 20px; margin:3px 2px;"}
        .data
          %h4= daily_privilege.name
          %p
            &nbsp;
    .clearfix
