%h2 Account Settings
= form_for( current_user, :url => user_path(current_user), :validate => true, :method => :put) do |f|
  .input-control.text.span4
    = f.text_field :father_name, :autofocus => true, :class => 'with-helper', :placeholder => 'Father name', :validate => {presence: true}
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.text.span4
    = f.text_field :mother_name, :class => 'with-helper', :placeholder => 'Mother name', :validate => {presence: true}
    %button.helper{:type => 'button', :tabindex => "-1"}
  -#- if current_user.provider.blank?
    -#.input-control.text.span4
      -#= f.email_field :email, :class => 'with-helper', :placeholder => "Email", :validate => {:email => true, :uniqueness => true}
      -#%button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.text.span4
    = f.phone_field :phone, :class => 'with-helper', :placeholder => 'Phone', :type => 'phone', :validate => {presence: true}
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.select.span4
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :validate => {presence: true}
  .input-control.text.span4
    = f.text_field :key, :class => 'with-helper', :placeholder => 'Key'
    %button.helper{:type => 'button', :tabindex => "-1"}
  %div= f.submit "Update"
%br
:javascript
  $(document).ready(function(){
    $('#family_time_zone').set_timezone();
  });
