%h2 Control Panel
%br
.tile.bg-color-blueDark
  = link_to account_settings_path do
    .tile.bg-color-blue.icon
      .tile-content
        %i.icon-cog
      .brand
        .name Account settings
.tile.bg-color-blueDark
  = link_to family_teens_path do
    .tile.bg-color-red.icon
      .tile-content
        %i.icon-user
      .brand
        .name Teens
.tile.bg-color-blueDark
  = link_to family_subscription_plans_path do
    .tile.bg-color-green.icon
      .tile-content
        %i.icon-credit-card
      .brand
        .name Plans
