%h2 Change your password
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .input-control.password.span4
    = f.password_field :password, :class => 'with-helper', :placeholder => 'Password'
    %button.helper{:type => 'button'}
  .input-control.password.span4
    = f.password_field :password_confirmation, :class => 'with-helper', :placeholder => 'Password confirmation', :validate => {:confirmation => true}
    %button.helper{:type => 'button'}
  %div= f.submit "Change my password"
= render "devise/shared/links"
