%h2 Forgot your password?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :validate => :head) do |f|
  = devise_error_messages!
  .input-control.text.span4
    = f.email_field :email, :class => 'with-helper', :placeholder => "Email", :validate => {:email => true}
    %button.helper{:type => 'button'}
  %div= f.submit "Send me reset password instructions"
= render "devise/shared/links"
