.auth-form
  = form_for(User.new, :as => :user, :url => session_path(:user), :html => {:class => 'auth-form__in'}) do |f|
    %h2 Sign with
    .clearfix
      %a.fl_l{:href => omniauth_authorize_path(:family, :facebook)}
        = image_tag 'images/auth-fb.png', :alt => ''
      %a.fl_r{:href => omniauth_authorize_path(:family, :twitter)}
        = image_tag 'images/auth-twit.png', :alt => ''
    %span.auth-form__div
      %span or
    = f.text_field :email, :size => ''
    .pr
      = f.password_field :password, :size => ''
      = link_to "forgot?", new_password_path(:user), :class => 'auth-form__forgot'
    %input{:type => "submit", :value => "Sign in"}
.overlay
-#
  %h2 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div
      = f.label :email
      %br/
      = f.email_field :email, :autofocus => true
    %div
      = f.label :password
      %br/
      = f.password_field :password
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me
        = f.label :remember_me
    %div= f.submit "Sign in"
  = render "devise/shared/links"
