- demo_video = Video.where(:description => "Demo Video").first
= render :partial => 'shared/auth_form'
%header.header{:role => "banner"}
  .header__top.center
    .wrapper
      - if demo_video
        .fl_l
          %a.link-video{:href => "#"} Demo — how it works
      .fl_r
        %ul.nav_auth
          - if current_user
            %li
              = link_to "Welcome #{current_user.welcome}", welcome_path
              %i /
            %li
              = link_to "#{t(:logout)}", destroy_user_session_path, :method => :delete
          - else
            %li.nav_auth__login_blue
              %a#auth-form{:href => "#login"} Login
              %i /
            %li
              =link_to t(:sign_up), new_family_registration_path
      -#.fl_r
        -#%a{:href => "#"}
          -#Download MyPointSystem for
          -#%strong.iphone-dload iPhone
  .header__bottom
    .wrapper
      %a.logo{:href => root_path}
      = render :partial => 'shared/nav_bar'
:javascript
  $(document).ready(function(){
      $('a.link-video').click(function(e) {
          $.Dialog({
              'title'      : 'Add Teen',
              'content'    : "#{j render(:partial => 'shared/admin_video',
                                         :locals => {:video => demo_video})}",
              'closeButton' : true,
              'position'   : {
                'offsetY'    : 50
              },
          });
      });
  });

