.carousel{"data-param-direction" => "left", "data-param-duration" => "2000", "data-param-effect" => "slide", "data-param-period" => "4000", "data-role" => "carousel"}
  .slides
    #slide1.slide.mixed
      = image_tag 'images/slide.jpg'
      .description.red
        %h2 The best way to motivate children to learn
        %p
          A flexible system of rewards
          promotes personal growth
          of the teen
        %a.learn-more{:href => "#"}
          %i.icon-arrow-right-3
          learn more
          %br about us
    #slide2.slide.mixed
      = image_tag 'images/slide.jpg'
      .description.green
        %h2 The best way to motivate children to learn
        %p
          A flexible system of rewards
          promotes personal growth
          of the teen
        %a.learn-more{:href => "#"}
          %i.icon-arrow-right-3
          learn more
          %br about us
    #slide3.slide.mixed
      = image_tag 'images/slide.jpg'
      .description.yellow
        %h2 The best way to motivate children to learn
        %p
          A flexible system of rewards
          promotes personal growth
          of the teen
        %a.learn-more{:href => "#"}
          %i.icon-arrow-right-3
          learn more
          %br about us
