%h2  Guidelines
%br
%ul.listview.iconic
  - @guidelines.each do |guideline|
    %li.selected.fg-color-white{:style => "z-index: 0;float:left;"}
      = link_to teen_guideline_path(guideline) do
        .icon
          %i.icon-arrow-right{:style => "font-size: 20px; margin:3px 2px;"}
        .data
          %h4= guideline.title
          %p
            &nbsp;
    .clearfix
