= form_for [:family, @teen, @daily_privilege], :remote => true, :validate => :bottom_js do |f|
  - if @daily_privilege.errors.any?
    #error_explanation
      %h2
        = pluralize(@daily_privilege.errors.count, "error")
        prohibited this daily_privilege from being saved:
      %ul
        - @daily_privilege.errors.full_messages.each do |msg|
          %li= msg
  .input-control.text.span7
    = f.text_field :name, :autofocus => true, :class => 'with-helper', :placeholder => 'Title', :validate => { :presence => true }
    %button.helper{:type => 'button'}
  = f.hidden_field :family_id, :value => current_user.id
  = f.hidden_field :teen_id, :value => @teen.id
  .input-control.text.span7
  .input-control.text.span7
  .input-control.text.span7
  .actions
    = f.submit
    - if params[:action] == "index" || params[:action] == "edit_daily_privileges"
      %a.button{:onclick => "$.Dialog.hide()", :form => "#"} Cancel
