<% if @daily_privilege.errors.blank? %>
  $.Dialog.hide();
  $("ul.daily-privileges").append("<%= j render("family/shared/interactive_list_item", :resource => @daily_privilege, :teen => @teen) %>")
<% end %>
