%h2 #{@teen.name} Daily Privileges
%br
%ul.listview.iconic.daily-privileges#sortable{:style => "width:300px;"}
  - @daily_privileges.each do |daily_privilege|
    = render "family/shared/interactive_list_item", :resource => daily_privilege, :teen => @teen
%ul.listview.iconic
  %li#new_daily_privilege
    .icon
      %i.icon-plus-2{:style => "font-size: 20px; margin:4px 2px;"}
    .data
      %h4 Add Daily Privilege
:javascript
  $(document).ready(function(){
      $('#new_daily_privilege').click(function(e) {
          $.Dialog({
              'title'      : 'Add Daily Privilege',
              'content'    : "#{j render(:partial => 'form')}",
              'position'   : {
                'offsetY'    : 50
              }
          });
      });
  });
