$("#<%= dom_id @daily_privilege %>").attr("data-active", <%= @daily_privilege.active ? 0 : 1 %>);
$("#<%= dom_id @daily_privilege %>").find("#daily_privilege_active").attr("value" , <%= @daily_privilege.active ? 0 : 1 %>);
$("#<%= dom_id @daily_privilege %>").find(".hint .text").text("<%= @daily_privilege.hint_text %>");
