%h2 Sign in
%h3 With
.clearfix{:style => "width: 380px;"}
  %a.fl_l{:href => "/families/auth/facebook"}
    %img{:alt => "", :src => "/assets/images/auth-fb.png"}/
  %h3.fl_l{:style => "padding: 0 10px;"} Or
  %a.fl_r{:href => "/families/auth/twitter"}
    %img{:alt => "", :src => "/assets/images/auth-twit.png"}/
%h3 Or use the usual form
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .input-control.text.span4
    = f.email_field :email, :class => 'with-helper', :placeholder => "Email", :validate => {:email => true}
    %button.helper{:type => 'button'}
  .input-control.password.span4
    = f.password_field :password, :class => 'with-helper', :placeholder => 'Password'
    %button.helper{:type => 'button'}
  - if devise_mapping.rememberable?
    %label.input-control.checkbox
      = f.check_box :remember_me
      %span.helper Remember me
  %div= f.submit "Sign in"
= render "devise/shared/links"
