%h2 Incident Reports History
%br
%table.bordered.incident_reports_history
  %thead
    %tr
      %th №
      %th Behavior
      %th Date
      %th Severity
      %th Review
      %th Points Summary
      %th Action
  %tbody
    - @incident_reports.each_with_index do |incident_report, index|
      %tr
        %td= index+1
        %td= incident_report.type_of_inappropriate_behavior
        %td= incident_report.created_at.strftime("%b %d, %Y %I:%M %p")
        %td= incident_report.severity
        %td= incident_report.review
        %td= - incident_report.points_loss.to_i
        %td
          .toolbar{:style => "padding-top:8px;width: 70px;"}
            %a.button.default{:href => family_teen_incident_report_path(@teen, incident_report) }
              %i.icon-search
            - if incident_report.review == "Self Correct"
              %a.button.default.review{:href => review_self_correct_family_teen_incident_report_path(@teen, incident_report) }
                %i.icon-checkmark
            - if incident_report.review == "Appeal"
              %a.button.default.review{:href => review_appeal_family_teen_incident_report_path(@teen, incident_report) }
                %i.icon-checkmark
