%h2 Incident Reports
%br
.nice-link-wrap
  .fl_l
    = link_to [:history, :family, @teen, :incident_reports], :class => 'nice-link right' do
      %span.nice-link__ico
        %i.icon-newspaper.place-left{:style => 'font-size: 50px'}
      %span.nice-link__text
        %span
          History
  .fl_l
    = link_to [:new, :family, @teen, :incident_report], :class => "nice-link left" do
      %span.nice-link__text
        %span
          Add Incident Report
      %span.nice-link__ico
        %i.icon-plus{:style => 'font-size: 50px'}
