%h2 Add Incident Report
%br
= form_for([:family, @teen, @incident_report], :validate => :bottom_js) do |f|
  - if @incident_report.errors.any?
    #error_explanation
      %h2
        = pluralize(@incident_report.errors.count, "error")
        prohibited this guideline from being saved:
      %ul
        - @incident_report.errors.full_messages.each do |msg|
          %li= msg
  .input-control.text.span3.disabled
    = f.text_field :created_at, :class => 'with-helper', :placeholder =>  current_user.time.strftime("%b %d, %Y %I:%M %p"), :disabled => true
    %button.helper{:type => 'button'}
  = f.hidden_field :family_id, :value => current_user.id
  = f.hidden_field :teen_id, :value => @teen.id
  = f.label "Type Of Inappropriate Behavior:"
  %br
  - TypeOfInappropriateBehavior.all.each do |type|
    %br
    %label.input-control.radio{:onclick => ""}
      - if TypeOfInappropriateBehavior.first == type
        = f.radio_button :type_of_inappropriate_behavior, type.behavior, :checked => true
      - else
        = f.radio_button :type_of_inappropriate_behavior, type.behavior, :checked => false
      %span.helper= type.behavior
  .input-control.text.span8
    = f.text_area :specifics, :class => 'with-helper', :placeholder => 'Specifics'
    %button.helper{:type => 'button'}
  = f.label "Severity:"
  - ["Mild Incident", "Significant Incident", "Major Incident", "Serious Incident"].each do |severity|
    - if 'Mild Incident' == severity
      %label.input-control.radio{:onclick => ""}
        = f.radio_button :severity, severity, :checked => true
        %span.helper= severity
    - else
      %label.input-control.radio{:onclick => ""}
        = f.radio_button :severity, severity, :checked => false
        %span.helper= severity

  .actions
    = f.submit
    - if params[:action] == "index" || params[:action] == "edit_guidelines"
      %button{:onclick => "$.Dialog.hide()", :form => "#"} Cancel

%h3 Notes
%blockquote
  %h4 Mild Incident :
  %p
    Incidents that is relatively minor or thoughtless and careless but needs correction.
    %br - Negative Points assigned (-6)
  %h4 Significant Incident :
  %p
    Incidents that is significant, concerning, harmful, or re-occurring.
    %br - Negative Points assigned (-18)
  %h4 Major Incident :
  %p
    Incidents that are Major and/or much more significant, damaging, concerning, deviant, pre-mediated, or deliberate.
    %br - Negative Points assigned (-80)
  %h4 Serious Incident :
  %p
    Incidents that are very Serious, or Dangerous and can be the basis of the Teen being removed from the Home (Boarding School or Treatment) if not corrected.
    %br - Negative Points assigned (-200)
