%h2 Appeal
%p
  I
  %b= @teen.name
  choose to responsibility for the Incident Report I received on
  %b= @incident_report.created_at.strftime("%b %d, %Y %I:%M %p")
  at and the consequences there of. Severity issued over me is
  %b= @incident_report.severity
%p
  %b My Justification
  = @incident_report.teen_appeal
%br
- unless @incident_report.reviewed?
  = form_for [:family, @teen, @incident_report], :method => :put do |f|
    - points_loss = @incident_report.points_loss
    %label.input-control.radio{:onclick => ""}
      = f.radio_button :points_loss, 0, :checked => true, :onchange => "$('#bonus-field').hide()"
      %span.helper Approve
    %br
    %label.input-control.radio{:onclick => ""}
      = f.radio_button :points_loss, points_loss, :checked => false, :onchange => "$('#bonus-field').hide()", :id => "init"
      %span.helper Disapprove
    %br
    %label.input-control.radio{:onclick => ""}
      = f.radio_button :points_loss, points_loss, :checked => false, :onchange => "$('#bonus-field').show()", :id => "change"
      %span.helper Severity Reduced
    .input-control.text.span1{:style => "float:right; margin-right: 410px;"}
      = text_field_tag "", nil, :maxlength => 5, :style => "padding: 0;text-align: center;display:none;", :id => "bonus-field", :onchange => "change_parent_review()"
    = f.hidden_field :reviewed, :value => true

    .actions
      = f.submit "Revert"

    :javascript
      function change_parent_review(){
        var init_val = parseInt($('#init').val());
        var change_field = $('#change');
        var new_value = init_val - parseInt($('#bonus-field').val());
        change_field.val(new_value);
      }
