= form_for([:family, @teen, @guideline], :validate => :bottom_js, :remote => true) do |f|
  - if @guideline.errors.any?
    #error_explanation
      %h2
        = pluralize(@guideline.errors.count, "error")
        prohibited this guideline from being saved:
      %ul
        - @guideline.errors.full_messages.each do |msg|
          %li= msg
  .input-control.text.span7
    = f.text_field :title, :autofocus => true, :class => 'with-helper', :placeholder => 'Title', :tabindex => 1
    %button.helper{:type => 'button'}
  = f.hidden_field :family_id, :value => current_user.id
  = f.hidden_field :teen_id, :value => @teen.id
  - if @guideline.default?
    .input-control.text.disabled.span7
      = f.text_area :recommendation, :class => 'with-helper', :placeholder => 'Recommendation', :disabled => true
  .input-control.text.span7
    = f.text_area :content, :class => 'with-helper', :placeholder => 'Content', :tabindex => 2
    %button.helper{:type => 'button'}
  -# if params[:action] != "index"
    %label.input-control.checkbox
      = f.check_box :active
      %span.helper Active

  .actions
    = f.submit
    - if params[:action] == "index" || params[:action] == "edit_guidelines"
      %a.button{:onclick => "$.Dialog.hide()", :form => "#"} Cancel
