%h2 #{@teen.name} Guidelines
%br
%ul.listview.iconic.guidelines
  - @guidelines.each do |guideline|
    = render "family/shared/interactive_list_item", :resource => guideline, :teen => @teen
%ul.listview.iconic
  %li#new_guideline_button
    .icon
      %i.icon-plus-2{:style => "font-size: 20px; margin:4px 2px;"}
    .data
      %h4 Add Guideline
:javascript
  $(document).ready(function(){
      $('#new_guideline_button').click(function(e) {
          $.Dialog({
              'title'      : 'Add Guideline',
              'content'    : "#{j render(:partial => 'family/guidelines/form')}",
              'position'   : {
                'offsetY'    : 50
              }
          });
        $("#new_guideline").validate();
      });
  });
