$("#<%= dom_id @guideline %>").attr("data-active", <%= @guideline.active ? 0 : 1 %>);
$("#<%= dom_id @guideline %>").find("#guideline_active").attr("value" , <%= @guideline.active ? 0 : 1 %>);
$("#<%= dom_id @guideline %>").find(".hint .text").text("<%= @guideline.hint_text %>");
