* {
  outline: none;
}

@import "h5bp";
@include h5bp-helpers;
@include h5bp-chromeframe;
//@include h5bp-media;
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/pie";
@import "compass/css3/images";
@import "compass/typography";
@import "blankwork";
@import "compass/layout/grid-background";
@import "compass/css3/box-sizing";
@import "compass/utilities/sprites/base";

$pie-behavior: url(PIE.htc);
@mixin spr-m($map,$ico) {
  background: sprite($map,$ico) no-repeat;
  @include sprite-dimensions($map,$ico) ;
}
@mixin spr($ico) {
  @include images-sprite($ico);
  height: images-sprite-height($ico);
  width: images-sprite-width($ico);
}
@mixin grad($grad) {
  @include background-image($grad);
  -pie-background: $grad;
}

$h2Color: #54a44b;
@mixin myTextbox($height: 43px, $lheight: 43px, $width: 304px) {
  height: $height;
  line-height: $lheight;
  @include grad(linear-gradient(top, #e1e1e1, #e4e4e4));
  @include pie;
  @include border-radius(50px);
  @include box-shadow(0 2px 1px #ffffff, 0 2px 2px #c9c9c9 inset);
  border: none;
  color: #333;
  font-size: 12px;
  padding: 0 17px;
  width: $width;
  text-shadow: 0 1px 0 #fff;
  output: none !important;

  &::-webkit-input-placeholder {
    color: #333;
    line-height: $lheight;
  }
  &:-moz-placeholder {
    color: #333;
  }
  &.placeholder {
    color: #333;
  }
}

@mixin italicBold {
  font-family: Georgia;
  font-style: italic;
  color: #aaa;
  text-shadow: 0 1px 0 #fff;
}

@mixin btn {
  font-family: 'Franklin Gothic Medium' !important;
  font-style: normal;
  text-shadow: 0px 1px 0px #fff;
  height: 31px;
  line-height: 31px;
  text-decoration: none;
  color: #333 !important;
}

$wrapper-width: 1000px;
$link-color:#a14c00;
$font-name :   'MyriadProRegular';
$font-name__italic :   'MyriadProItalic';
a{
  color: $link-color;
  &:hover{
    text-decoration: none;
  }
}

.box{
  display: block;
}
.box__l{
  float: left;
}
.box__r{
  float: right;
}
.box__c,
.box__oh{
  overflow: hidden;
}
.box__tac{
  text-align: center;
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/myriadpro-regular_0-webfont.eot');
    src: url('fonts/myriadpro-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-regular_0-webfont.woff') format('woff'),
         url('fonts/myriadpro-regular_0-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-regular_0-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProItalic';
    src: url('fonts/myriadpro-it_0-webfont.eot');
    src: url('fonts/myriadpro-it_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-it_0-webfont.woff') format('woff'),
         url('fonts/myriadpro-it_0-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-it_0-webfont.svg#MyriadProItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProSemibold';
    src: url('fonts/myriadpro-semibold_0-webfont.eot');
    src: url('fonts/myriadpro-semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-semibold_0-webfont.woff') format('woff'),
         url('fonts/myriadpro-semibold_0-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-semibold_0-webfont.svg#MyriadProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProBoldItalic';
    src: url('fonts/myriadpro-boldit_0-webfont.eot');
    src: url('fonts/myriadpro-boldit_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-boldit_0-webfont.woff') format('woff'),
         url('fonts/myriadpro-boldit_0-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-boldit_0-webfont.svg#MyriadProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProLightItalic';
    src: url('fonts/myriadpro-lightit-webfont.eot');
    src: url('fonts/myriadpro-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-lightit-webfont.woff') format('woff'),
         url('fonts/myriadpro-lightit-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-lightit-webfont.svg#MyriadProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProSemiboldItalic';
    src: url('fonts/myriadpro-semiboldit_0-webfont.eot');
    src: url('fonts/myriadpro-semiboldit_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-semiboldit_0-webfont.woff') format('woff'),
         url('fonts/myriadpro-semiboldit_0-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-semiboldit_0-webfont.svg#MyriadProSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}