@import "active_admin/mixins"
@import "active_admin/components/links"

body
  @include global-reset
  @import "active_admin/typography"
  @import "active_admin/header"
  @import "active_admin/forms"
  @import "active_admin/components/comments"
  @import "active_admin/components/flash_messages"
  @import "active_admin/components/date_picker"
  @import "active_admin/components/popovers"
  @import "active_admin/components/tables"
  @import "active_admin/components/batch_actions"
  @import "active_admin/components/blank_slates"
  @import "active_admin/components/breadcrumbs"
  @import "active_admin/components/dropdown_menu"
  @import "active_admin/components/buttons"
  @import "active_admin/components/grid"
  @import "active_admin/components/pagination"
  @import "active_admin/components/panels"
  @import "active_admin/components/columns"
  @import "active_admin/components/scopes"
  @import "active_admin/components/status_tags"
  @import "active_admin/components/table_tools"
  @import "active_admin/pages/dashboard"
  @import "active_admin/pages/logged_out"
  @import "active_admin/structure/footer"
  @import "active_admin/structure/main_structure"
  @import "active_admin/structure/title_bar"

body
  @include sans-family
  line-height: 150%
  font-size: 72%
  background: #fff
  margin: 0
  padding: 0
  color: $text-color

a.cke_dialog_ui_button_ok
  &, span
  color: #FFF !important
a.cke_dialog_ui_button
  color: #333 !important
  text-decoration: none
.cke_chrome
  width: 76% !important
  overflow: hidden
