div.field_with_errors input{
  border: 2px red solid;
  width: 100%;
  padding: 4px 32px 6px 5px;
  background-color: #fff;
  outline: 0;
  margin-right: 32px;
  min-height: 32px;
  position: relative;
}
div.field_with_errors select{
  border: 2px red solid;
  width: 100%;
  padding: 4px 6px 6px 5px;
  background-color: #fff;
  outline: 0;
  margin-right: 32px;
  min-height: 32px;
  position: relative;
}
div.active_switch{
  z-index: 2000;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.listview > li.selected[data-active="1"]::before {
position: absolute;
content: "\e08a";
color: #fff;
right: 4px;
top: 0;
font-family: iconFont;
z-index: 1002;
display: block;
}
.listview > li.selected[data-active="0"]::before {
position: absolute;
content: "\e089";
color: #fff;
right: 4px;
top: 0;
font-family: iconFont;
z-index: 1002;
display: block;
}

.listview > li.selected[data-active="0"]::after {
width: 0;
height: 0;
border-top: 40px solid red;
border-left: 40px solid transparent;
position: absolute;
display: block;
right: 0;
content: "";
top: 0;
z-index: 1001;
}
.listview > li.selected[data-active="1"] {
border: 4px #2d89ef solid;
}
.listview > li.selected[data-active="0"] {
border: 4px red solid;
}
.listview > li.selected[data-active="1"]::after {
width: 0;
height: 0;
border-top: 40px solid #2d89ef;
border-left: 40px solid transparent;
position: absolute;
display: block;
right: 0;
content: "";
top: 0;
z-index: 1000;
}
.hint{
  position: absolute;
  top: 0;
  left: 275px;
  z-index: 1003;
}
ul.replies li{
  height: 60px;
  width:180px;
}
div.hint div.reply{
  margin: 0;
}
div.hint div.reply div.text{
  height:20px;
}
div#ui-datepicker-div tr th{
  background-color: #2D89EF;
  border: 1px solid #2D89EF;
}
th.dow{
  background-color: #00a300 !important;
  border-right: 1px #dddddd solid !important;
  border-bottom: 1px #dddddd solid !important;
  border-left: 1px transparent solid !important;
  border-top: 1px transparent solid !important;
  box-sizing: border-box !important;
}
div.fl_l.teen .nice-link__text, div.fl_r.teen .nice-link__ico {
  height: 130px;
  border: 1px solid
  #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid
  #cccccc;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 !important;
}
li.ui-draggable{
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
  height: 68px;
  position: relative;
  display: block;
  cursor: pointer;
}
.handle:hover{cursor: move;}
li .actions{
  position: absolute;
  top: 15px;
  left: 320px;
}


 .nice-link.right .nice-link__text:before{
  background: url( 'images/images/right.png' ) no-repeat;
}
div.subscription_plans > div{
  float: left;
  border: 1px solid #cccccc;
  text-align: center;
  margin: 0 15px;
}
div.subscription_plans h3{
  margin: 0 0 10px 0;
  padding: 10px;
}
div.subscription_plans a{
  margin:10px 0;
}

div.subscription_plans ul{
  list-style: none;
}
.bg-color-spree-greenLight{
  background-color: #f8fceb !important;
}

div.tile.icon i{
  font-size: 100px;
  position: absolute;
  top: 25px;
  left: 20px;
}
@-moz-document url-prefix() {
  div.tile.icon i{
    font-size: 100px;
    position: absolute;
    top: 50px;
    left: 20px;
  }
}
.incident_reports_history td, .incident_reports_history th{
  text-align: center;
}
