<p>Welcome to "My Point System" <%= @email %>!</p>
<p>You have successfully signed up to <%= link_to root_url, root_url %></p>

<p>To confirm your account, just follow this link: <%= link_to 'Confirm my account', family_confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<p>Thanks for joining and have a great day!</p>
<p>You have received this notification because you have tried to register to <%= link_to root_url, root_url %>. If you did not try it, please contact the administrator in order to remove the account at <a href="mailto:admin@my-point-system.com">admin@mypointsystem.com</a></p>
