= form_for([:family, @teen], :html => { :multipart => true }, :validate => :bottom_js) do |f|
  - if @teen.errors.any?
    #error_explanation
      %h2
        = pluralize(@teen.errors.to_a.uniq.count, "error")
        prohibited this teen from being saved:
      %ul
        - @teen.errors.full_messages.uniq.each do |msg|
          %li= msg
  .input-control.text.span7
    = f.text_field :name, :autofocus => true, :class => 'with-helper', :placeholder => 'Name'
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.text.span7
    = f.text_field :email, :class => 'with-helper', :placeholder => 'Email', :validate => {:uniqueness => true, :presence => true}
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.text.span7
    = f.text_field :phone, :class => 'with-helper', :placeholder => 'Phone'
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.text.span7
    = f.text_field :date_of_birth, :class => 'with-helper datepicker_field', :placeholder => 'Date Of Birth(MM/DD/YYYY)'
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.password.span7
    = f.password_field :password, :class => 'with-helper', :placeholder => 'Password', :validate => {:confirmation => true}
  .input-control.password.span7
    = f.password_field :password_confirmation, :class => 'with-helper', :placeholder => 'Confirm password'
    %button.helper{:type => 'button', :tabindex => "-1"}
  .input-control.password.span7
    = f.label "Photo"
    = f.file_field :avatar

  = f.hidden_field :family_id, :value => current_user.id
  .actions
    - if params[:action] == "edit"
      = f.submit "Update Teen"
    - if params[:action] == "index"
      = f.submit "Add Teen"
      %a.button{:onclick => "$.Dialog.hide()", :form => "#"} Cancel
