= link_to edit_family_teen_path(teen) do
  %li.bg-color-red.fg-color-white
    .icon
      - if teen.avatar.present?
        %img{:src => teen.avatar.url(:index)}/
      - else
        %img{:src => '/avatars/index/missing.png'}/
    .data
      %h4.fg-color-white= teen.name
      %p
