%h2 Teens
%ul.listview.iconic.teens
  - @teens.each do |teen|
    = render "teen_list_item", teen: teen
%ul.listview.iconic
  %li#add_teen
    .icon
      %i.icon-plus-2{:style => "font-size: 20px; margin:4px 2px;"}
    .data
      %h4 Add Teen
:javascript
  $(document).ready(function(){
      $('#add_teen').click(function(e) {
          $.Dialog({
              'title'      : 'Add Teen',
              'content'    : "#{j render(:partial => 'form')}",
              'position'   : {
                'offsetY'    : 50
              },
              'buttons'    : {

              }
          });
        $("#new_teen").validate();
      });

  });
