%h2 Settings #{@teen.name}
%br
.tile.bg-color-blueDark
  = link_to edit_family_teen_path(@teen) do
    .tile.bg-color-red.icon
      .tile-content
        %i.icon-user
      .brand
        .name Personal Settings

.tile.bg-color-yellow
  = link_to family_teen_guidelines_path(@teen) do
    .tile.bg-color-yellow.icon
      .tile-content
        %i.icon-clipboard-2
      .brand
        .name Guidelines
.tile.bg-color-green
  = link_to family_teen_daily_privileges_path(@teen) do
    .tile.bg-color-green.icon
      .tile-content
        %i.icon-star-3
      .brand
        .name Daily Privileges
.tile.bg-color-red
  = link_to family_teen_incident_reports_path(@teen) do
    .tile.bg-color-red.icon
      .tile-content
        %i.icon-lightning-2
      .brand
        .name Incident Reports
