:javascript
  $('div.clearfix').attr("style","margin:0 115px;")
%h2 Plans
.subscription_plans
  .basic.span3.bg-color-spree-greenLight
    %h3.bg-color-blue.fg-color-white Basic
    %ul
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 1
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 2
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 3
      %li
        %i.fg-color-red.icon-cancel-2
        Available feature 4
      %li
        %i.fg-color-red.icon-cancel-2
        Available feature 5
    %br
    = link_to "Already on it!", "#", :class => "button default"
  .intermediate.span3
    %h3.bg-color-green.fg-color-white Intermediate
    %ul
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 1
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 2
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 3
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 4
      %li
        %i.fg-color-red.icon-cancel-2
        Available feature 5
    .price.clearfix
      15$
      %span /month
    = link_to "Subscribe", "#", :class => "button default"
  .comprehensive.span3
    %h3.bg-color-yellow.fg-color-white Comprehensive
    %ul
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 1
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 2
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 3
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 4
      %li
        %i.fg-color-green.icon-checkmark
        Available feature 5
    .price
      16.99$
      %span /month
    = link_to "Subscribe", "#", :class => "button default"
