= semantic_form_for [:admin, @coach] do |f|
  = f.inputs "test" do
    = f.input :email
    = f.input :name, :label => "Name"
    = f.input :password
    = f.input :password_confirmation

    - unless @coach.new_record?
      %li#coach_users_input.check_boxes.input.optional
        %fieldset.choices
          %legend.label
            %label Families
          %input#coach_users_none{:name => "coach[user_ids][]", :type => "hidden", :value => ""}/
          %ol.choices-group
            - Family.all.each do |family|
              %li.choice
                %label{:for => "coach_user_ids_#{family.id}"}
                  - if @coach.families.include?(family) && !@coach.new_record?
                    %input{:id => "coach_user_ids_#{family.id}", :checked => "checked", :name => "coach[user_ids][]", :type => "checkbox", :value => family.id}
                    #{family.father_name} - #{family.mother_name}
                  - else
                    %input{:id => "coach_user_ids_#{family.id}", :name => "coach[user_ids][]", :type => "checkbox", :value => family.id}
                    #{family.father_name} - #{family.mother_name}
  = f.actions do
    = f.action :submit
