%title= @meta_title || "My Point System"
%meta{:charset => "utf-8"}
%meta{:content => (@meta_description || "My Point System"), :name => "description"}
%meta{:content => (@meta_keywords || "My Point System"), :name => "keywords"}
%meta{:content => "width=device-width", :name => "viewport"}
= stylesheet_link_tag "application", :media => "all"
= javascript_include_tag "application"
= csrf_meta_tags
-if notice
  :javascript
    window.onload = function(){
      alertify.success("#{notice}", 10000);
    }
- if alert
  :javascript
    window.onload = function(){
      alertify.error("#{alert}", 10000);
    }
= yield :head
