!!!
%html.no-js{:lang => "en"}
  %head
    = render :partial => 'layouts/head'
  %body
    = render :partial => 'shared/header'
    .content{:role => "main"}
      = yield :carousel
      - if request.path != '/'
        = back_link
      .clearfix{:style => 'margin: 0 170px;'}
        = yield
    = yield :bottom_js
